<!doctype html>
<html class="no-js">
<!--顶部导航栏开始-->
<?php include_once __ADMIN_COMMON__."index_header.html";?>
<!--顶部导航栏结束-->

<div class="admin-biaogelist">

  <div class="listbiaoti am-cf">
    <ul class="am-icon-flag on"> 添加商品</ul>
    <dl class="am-icon-home" style="float: right;"> 当前位置： 首页 > <a href="#">商品列表</a></dl>

  </div>

  <div class="fbneirong">
    <form class="am-form" action="index.php?g=admin&c=main&a=addgoods" enctype="multipart/form-data" method="post">
      <div class="am-form-group am-cf">
        <div class="zuo">商品名称：</div>
        <div class="you">
          <input type="text"name="gname" class="am-input-sm" placeholder="请输入标题">
        </div>
      </div>
      <div class="am-form-group am-cf">
        <div class="zuo">产品图片：</div>
        <div class="you" style="height: 45px;">
          <input type="file" name="photo" id="doc-ipt-file-1">
          <p class="am-form-help"></p>
        </div>
      </div>


      <div class="am-form-group am-cf">
        <div class="zuo">商品价格：</div>
        <div class="you">
          <input type="text" name="gprice" class="am-input-sm" placeholder="请输入商品价格">
        </div>
      </div>

      <div class="am-form-group am-cf">
        <div class="zuo">商品库存：</div>
        <div class="you">
          <input type="text" name="gcount" class="am-input-sm" placeholder="请输入商品库存">
        </div>
      </div>
      <div class="am-form-group am-cf">
      <div class="zuo">商品详情：</div>
      <div class="you">
        <textarea class="am-input-sm" name="gmessage" rows="4" id="doc-ta-1" placeholder="请输入商品详情"></textarea>
      </div>
    </div>


      <div class="am-form-group am-cf">
        <div class="you" style="margin-left: 11%;">
          <button type="submit" class="am-btn am-btn-success am-radius">上传</button>
        </div>
      </div>
    </form>
  </div>



  <div class="foods">
    <ul>
      版权所有@2015. 模板收集自 <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> -  More Templates<a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
    </ul>
    <dl>
      <a href="" title="返回头部" class="am-icon-btn am-icon-arrow-up"></a>
    </dl>
  </div>




</div>

</div>




</div><!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="<?php echo __ADMIN_JS__;?>polyfill/rem.min.js"></script>
<script src="<?php echo __ADMIN_JS__;?>polyfill/respond.min.js"></script>
<script src="<?php echo __ADMIN_JS__;?>amazeui.legacy.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="<?php echo __ADMIN_JS__;?>amazeui.min.js"></script>
<!--<![endif]-->



</body>
</html>